<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}">Product List</title>
    <link rel="stylesheet" th:href="@{/img/productpage.css}" />
  </head>
  <body style="display: flex; flex-direction: column">
    <div th:insert="~{common/layout :: navigationbar}"></div>
    <div
      style="
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
      th:insert="~{common/layout :: main-content(~{::content})}"
    >
      <div th:fragment="content" style="display: flex; flex-direction: column">
        <h1 style="padding-left: 30px" th:text="${title}">Product List</h1>

        <table style="flex-grow: 1">
          <thead>
            <tr>
              <th>ID</th>
              <th>Car Make</th>
              <th>Car Model</th>
              <th>Car Price</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product : ${products}">
              <td th:text="${product.id}">1</td>
              <td th:text="${product.make}">Car Make</td>
              <td th:text="${product.model}">Car Model</td>
              <td th:text="${product.price}">Car Price</td>
              <td>
                <td>
                  <form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit">Delete</button>
                  </form>                </td>
              </td>
            </tr>
          </tbody>
        </table>

        <a style="padding-left: 30px" href="/product/create"
          >Create New Product</a
        >
        <br />
        <a style="padding-left: 30px" th:href="@{/}">Back to Home</a>
      </div>
    </div>
    <div th:insert="~{common/layout :: footer}"></div>
  </body>
</html>
