
body {
    background-image: url("/img/lightened-luxury-sedan-car-against-night-city-with-headlamps-rear-tail-lights-lit_1284-28804.jpg");
    font-family: Verdana, serif;
.navbar-custom {
    background-color: #3F7D20;
}

.nav-link {
    font-size: 1.5rem;
    padding: 20px;
    font-weight: bold;
    color: #2E4057;
}

.footer-color {
    background-color: #2E4057;
}

.content-color {
    background-color: #CDC6A5;
}



.container {
    color: #F76C5E;
}

h1 {
    font-size: 1.5em;
}

