
body {
    background-image: url("/img/lightened-luxury-sedan-car-against-night-city-with-headlamps-rear-tail-lights-lit_1284-28804.jpg");
    font-family: Verdana, serif;
}

h1 {
    font-size: 1.5em;
}

