body {
    font-family: Verdana, serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

.navbar-custom {
    background-color: #3F7D20;
}

.nav-link {
    font-size: 1.5rem;
    padding: 20px;
    font-weight: bold;
    color: #2E4057;
}

.footer-color {
    background-color: #2E4057;
}

.content-color {
    background-color: transparent;
}

.container {
    color: #F76C5E;
}

/* Fix text alignment */
h1, p {
    text-align: left; /* Aligns text to the right */
    margin-left: 20px; /* Optional: Adds some space from the right edge */
}
